# .gitignore
**/bin/
**/obj/
**/TestResults/
**/appsettings.Development.json
**/appsettings.Staging.json
**/appsettings.Production.json

# Docker
**/*.dockerignore
**/docker-compose.override.yml

# VS Code
.vscode/
*.suo
*.user
*.slnx

# Secrets
**/secrets/
**/*.pfx